body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.form-control {
    background-color: #333333;
    border: 1px solid #555555;
    color: #ffffff;
}

.form-control::placeholder {
    color: #aaaaaa;
}

.btn-dark {
    background-color: #444444;
    border-color: #555555;
    color: #ffffff;
}

.btn-dark:hover {
    background-color: #555555;
    border-color: #666666;
}

.content {
    width: 100%;
    max-width: 400px;
    margin-left: 390px;
}

.mb-3 {
    margin-bottom: 1rem;
}
.oli{
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    color: aliceblue;
}